# Ignore any .terraform directories for caching providers, modules, and remote
# states, plus any local Terraform states, plans, and configuration files
.terraformrc
**/.terraform
*.tfstate
*.tfstate.*
*.tfplan

# Ignore cache files for Prettier linting and formatting checks
.prettier.cache

# Ignore backup files for drawio
*.drawio.bkp

# Ignore taskfile processing directory and files
.skip-pre-checks
.task
