# Ignore any Node-related temporary files
node_modules/*

# Ignore taskfile processing directory
.task/*

# Ignore temporary Terraform files and directories
terraform/.terraform/*

# Ignore prettier cache file
.prettier.cache
